* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.container{
    height: 60vh;
    width: 50vw;
    background-color: gold;
    position: absolute;
    left:25vw;
    top:20vh;
    border-radius: 12px;
    padding:30px 25px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:10px;
}
.tsk-input{
    height: 8vh;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#add-Btn{
    height: 5vh;
    width: 5vw;
    border:none;
    border-radius: 5px;
    background-color: cyan;
}
input{
    height: 5vh;
    width: 27vw;
    padding: 2%;
    text-align: center;
    border: none;
    background-color: rgba(226, 223, 223, 0.573);
    border-radius: 12px;
}
.tsk-show{
    height: calc(100% - 10vh);
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.crds{
    height: 5vh;
    width: 100%;
    background-color: lightcoral;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}
.btns{
    height: 100%;
    width: 30%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.edit-btn,.delete-btn{
    height: 80%;
    width: 40%;
    border: none;
    border-radius: 8px;
}
.edit-btn{
    background-color: orange;
}

.delete-btn{
    background-color: red;
}